.title-new {
  color: #FF7844;
  font-size: 30px;
  font-weight: 500;
  margin: 20px 0;
  text-align: center;
}

.add-recipe-form {
  height: 75vh;
  margin: 0 auto;
  width: 90vw;
}

.two-columns {
  display: flex;
  flex-direction: row;
  min-height: 90%;
}

.left-container,
.right-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.dynamicIngredients,
.dynamicDirections {
  margin-top: 5px;
}

.dynamicDirections {
  display: flex;
  flex-direction: column;
}

.input-label {
  margin: 10px 0 5px 0;
}

.input {
  font-size: 16px;
  height: 30px;
  min-width: 200px;
  max-width: 300px;
}

.ingredients-label {
  margin-right: 2px;
}

.new-ingredient-button,
.new-direction-button {
  background: #ff7844;
  border-radius: 15px;
  border: none;
  color: #1B1F3A;
  font-size: 15px;
  margin-left: 40px;
  margin-top: 10px;
  height: 25px;
  width: 200px;
}

.new-ine
.photo-label {
  padding-bottom: 5px;
}

.photo-upload {
  color: transparent;
}

.photo-upload::-webkit-file-upload-button {
 visibility: hidden;
}

.photo-upload::before {
 background-color: #FF7844;
 border-radius: 15px;
 color: #1B1F3A;
 content: 'Select a file';
 cursor: pointer;
 display: inline-block;
 font-size: 15px;
 font-weight: 500;
 margin-left: 15px;
 width: 120px;
 padding: 5px 8px;
 text-align: center;
}

.photo-upload:hover::before {
  border: 2px solid #000;
}
