.title-all {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 2em;
  color: #ff7844;
}

a {
  text-decoration: none;
}

.recipe-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 75px;
}

.recipe-card {
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: inline-flex;
  flex-direction: column;
  height: 200px;
  width: 250px;
  margin-bottom: 35px;
  margin-left: 10px;
  margin-right: 10px;
}

.recipe-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-content {
  padding: 5px;
}

img {
  padding: 5px;
  height: 120px;
  width: 250px;
}

.recipe-title {
  color: #FF7844;
  font-size: 24px;
  margin-bottom: 5px;
}

.text {
  color: #1B1F3A;
}
