footer {
  background: #1B1F3A;
  bottom: 0;
  height: 75px;
  position: fixed;
  width: 100vw;
}

.footer-features {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  height: 75px;
  justify-content: space-around;
  width: 100vw;
}

.tag-line {
  color: #FF7844;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}

.search-input {
  border-radius: 5px;
  color: #1B1F3A;
  height: 25px;
  margin: 0 25px 0 20px;
  padding-left: 5px;
}

::-webkit-input-placeholder {
  color: #1B1F3A;
}
