.full-recipe-container {
  height: 75vh;
  overflow-y: scroll;
  margin-bottom: 75px;
  margin-top: 30px;
}

.display-name {
  color: #ff7844;
  font-size: 2em;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.labels {
  font-size: 1.25em;
  font-weight: bold;
}

.display-text {
  font-size: 1.25em;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 10px;
}

.display-photo {
  margin-left: 20px;
}

.hidden {
  display: none;
}
