.full-recipe-container {
  height: 75vh;
  overflow-y: scroll;
  margin-bottom: 75px;
  margin-top: 30px;
}

.top-buttons {
  display: flex;
  justify-content: space-around;
}

.close-button {
  background: #ff7844;
  border-radius: 50%;
  border: none;
  color: #1B1F3A;
  font-size: 15px;
  font-weight: bold;
  height: 35px;
  width: 35px;
}

.close-button:hover {
  background: #FFF;
  color: #FF7844;
}

.display-name {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 2em;
  color: #ff7844;
}

.labels {
  font-weight: bold;
  font-size: 1.25em;
}

.display-text {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 1.25em;
}

.display-photo {
  margin-left: 20px;
}

.hidden {
  display: none;
}
